<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title><%= @store.name %></title>
</head>
<body>
	<div class = "container">
	<h4><%= link_to "Continue shopping", store_path %></h4>
  <% @store.items.each do |item| %>
		<div class="row text-center">
			<div class='col-6'>
				<%= image_tag item.image_file_name  %>
				</div>
			<div class='col-6 card bg-info'>
				<div class='card-body '>
				<% unless item.retired? %>
					<h2><strong><%= link_to "#{item.title}", store_item_path(@store.url, item.url) %></strong></h2> <br />
					<%= item.description %> <br /> <br />
					Price:$ <%= item.price %> <br />
					<%= link_to "Add to cart", cart_path(id: item.id), class: "badge badge-primary" %></center>

				<% end %>
				<% end %>
				</div>
			</div>
		</div>
	</div>

</body>
