<div class="container">
  <center>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Order #</th>
          <th>Order Placed</th>
          <th>Order Status</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.orders.each do |order| %>
          <tr id="order-<%= order.id %>" class="order">
            <th scope="row"> <%= link_to order.id, user_order_path(current_user, order) %></th>
            <td><%= order.date %></td>
            <td><%= order.status.capitalize %></td>
            <td>
              <% sum = 0 %>
              <% order.items.each do |item| %>
                <% sum += (OrderItem.find_by(item: item, order: order).original_item_price * OrderItem.find_by(item: item, order: order).quantity) %>
              <% end %>
              <%= number_to_currency(sum) %>
          </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </center>
</div>
