<%= form_for(@store_user, url: admin_store_admins_path) do |f| %>

  <%= f.label :email %><br>
  <%= f.text_field :user_id %>

<div class="status_select_box">
  <%= f.label :status %> <br />
  <%= f.select(:role_id, @roles.map { |role| [role.name, role.id] }) %>
</div>

  <%= f.submit %>
<% end %>
