<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Shop</title>
</head>
<body>

  <div class="container">
    <div class="row items text-center">
      <% @category.items.each do |item| %>
        <div class="center-block">
          <div class="card border-white" style="width: 15rem;">
            <%= image_tag item.image_file_name, class: "card-img-top" %>
            <div class="card-body">
              <% unless item.retired? %>
      					<h2><strong><%= link_to "#{item.title}", store_item_path(item.store.url, item.url) %></strong></h2> <br />
      					<%= item.description %> <br /> <br />
      					Price:$ <%= item.price %> <br />
      					<%= link_to "Add to cart", cart_path(item_id: item.id), method: :post, class: "badge badge-primary" %></center>
      				<% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</body>
