<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Manage the Platform</a>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> All Stores</a>
            <div class="dropdown-menu">
              <% @allstores.each do |store| %>
                <%= link_to store.name, admin_store_path(store.url), class: "dropdown-item" %>
              <% end %>
            </div>
      </ul>
    </div>
    <div class="card-body">
      <h2 class="card-title">Welcome Platform Admin, <%= current_user.first_name %></h2>
      <h4><%= link_to "All Categories",  platform_admin_categories_path %></h4>
      <h4><%= link_to 'Manage Accounts', platform_admin_users_path %></h4>
      <h4><%= link_to "Stores Pending", platform_admin_dashboard_path(status: "pending") %></h4>
      <h4><%= link_to "Stores Declined", platform_admin_dashboard_path(status: "declined") %></h3>
      <h4><%= link_to "Stores Active", platform_admin_dashboard_path(status: 'active') %></h4>
      <h4><%= link_to "Stores Suspended", platform_admin_dashboard_path(status: 'suspended') %></h4>
    </div>
  </div>
</div>
